#root {
    display: flex;
    justify-content: center;
    background-color: rgb(88, 109, 119);
}


.display {
    background-color: rgb(58, 58, 58);
    color:white;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    text-align: right;
}

.display p {
    font-size: 30px;
    margin: 1px;
    padding: 6px;
}

.buttons {
    position: absolute;
    top: 100px;
    border: 1px solid black;
}
