.button-change {
    border-radius: 5px;
    padding: 10px ;
}

.button-clear {
    border-radius: 5px;
    padding: 10px ;
}

.button-percent {
    border-radius: 5px;
    padding: 10px ;
}

.button-divide {
    border-radius: 5px;
    padding: 10px ;
}


.button-zero {
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
}

.button-decimal {
    border-radius: 5px;
    padding: 10px ;
}

.button-equal {
    border-radius: 5px;
    padding: 10px ;
}


.button-one {
    border-radius: 5px;
    padding: 10px ;
}

.button-two {
    border-radius: 5px;
    padding: 10px ;
}

.button-three {
    border-radius: 5px;
    padding: 10px ;
}

.button-add {
    border-radius: 5px;
    padding: 10px ;
}


.button-four {
    border-radius: 5px;
    padding: 10px ;
}

.button-five {
    border-radius: 5px;
    padding: 10px ;
}

.button-six {
    border-radius: 5px;
    padding: 10px ;
}

.button-subtract {
    border-radius: 5px;
    padding: 10px ;
}


.button-seven {
    border-radius: 5px;
    padding: 10px ;
}

.button-eight {
    border-radius: 5px;
    padding: 10px ;
}

.button-nine {
    border-radius: 5px;
    padding: 10px ;
}

.button-multiply {
    border-radius: 5px;
    padding: 10px ;
}
